body{
  background: #f5f5f5;
  color: #303030;
  font-family: 'Segoe UI';
}

label{
  width: 5%;
  display: inline-block;
  text-align: right;
}

input{
  background: #e5e5e5;
  color: #303030;
  font-size: 120%;
  border: none;
}

.Message{
  color: #a0a0a0;
}

.Button{
  color: #000000;
  background-color: #ffd500;
  border-radius: 2px;
}

.bottom{
  background-color:rgba(0, 0, 0, .03);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#Main{
  background: #ffffff;
  border-radius: 1%;
  padding-left: 1%;
}

#Title{
  font-size: 300%;
}

/* style.css */
.overflow-auto {
  overflow-y: auto;
}
